<h3 class="form-title">Form Input Kreditur</h3>

<form [formGroup]="userForm" (ngSubmit)="submit()" class="creditur-form">
  <div class="form-group">
    <label>Nama:</label>
    <input type="text" formControlName="name" />
    <div class="error" *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
      <div *ngIf="userForm.get('name')?.errors?.['required']">Nama wajib diisi.</div>
      <div *ngIf="userForm.get('name')?.errors?.['minlength']">Nama minimal 3 karakter.</div>
    </div>
  </div>

  <div class="form-group">
    <label>Umur:</label>
    <input type="number" formControlName="age" />
    <div class="error" *ngIf="userForm.get('age')?.touched && userForm.get('age')?.invalid">
      Umur wajib diisi.
    </div>
  </div>

  <div class="form-group">
    <label>Pekerjaan:</label>
    <input type="text" formControlName="job" />
    <div class="error" *ngIf="userForm.get('job')?.touched && userForm.get('job')?.invalid">
      Pekerjaan wajib diisi.
    </div>
  </div>
  <div>
    <label for="date">
      Tanggal Survey: 
      <input type="date" formControlName="date" />
    </label>
    <div *ngIf="userForm.get('date')?.invalid && userForm.get('date')?.touched" class="error">
      Please fill date survey
    </div>
    <div *ngIf="
    userForm.get('date')?.errors?.['minDate'] &&
    (userForm.get('date')?.touched || userForm.get('date')?.dirty)
    " class="error">
    Tanggal tidak boleh sebelum hari ini.
    </div>
  </div><br>

  <button type="submit" [disabled]="userForm.invalid" class="submit-btn">Add</button>
</form>
